<% layout("/layouts/boilerplate") %>
<style>
.error{

  margin-left: 20px;
  width: 1000px;
  height: fit-content;

}
h2{
  color: rgb(231, 59, 6);
}
    
</style>

  <br><br>
  <div class="error">
    
    <h2>Error</h2>
   <div class="alert alert-danger" role="alert" class="error">
      <h4><%= message %></h4>
  </div>
  <br><br>
</div>


